/* //Header Styles */
header {
  background: #054972;
  color: rgb(182, 221, 255);
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
}

.header-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  font-size: 2rem;
}

header h2 {
  font-size: 1.25rem;
}

main pre {
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #054972 !important;
}

main .challenge {
  margin: 1rem;
  padding: 1rem;
  color: #054972;
  border-bottom: #054972 1px solid;
}

main .codeInAction {
  background-color: aliceblue;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

main .buttonHolder {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

main .answerHolder {
  display: flex;
  padding: 1rem;
}

main .buttonHolder button {
  width: auto;
  background-color: #054972;
}

main .buttonHolder label {
  padding: 0.5rem;
  margin: 1rem 0rem;
}
main {
  position: relative;
  top: 10vh;
  z-index: 0;
}

main h2 {
  font-size: 2rem;
  font-weight: 800;
  padding-top: 3rem;
  color: #054972 !important;
}

main h3 {
  font-size: 1.5rem;
  font-weight: 800;
  padding-top: 2rem;
  color: #054972 !important;
}

main h4 {
  font-size: 1.5rem;
  font-weight: 800;
}

main h5 {
  font-size: 1.25rem;
  font-weight: 800;
}

main p {
  font-size: 1rem;
  font-weight: 800;
}

main a {
  font-size: 1rem;
  font-weight: 800;
  text-decoration: none;
}

main p {
  font-size: 1rem;
  font-weight: 400;
}

sidebar {
  height: 100vh; /* Full-height: remove this if you want "auto" height */

  position: sticky; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 10vh; /* Stay at the top */

  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

nav h3 {
  font-size: 1.15rem;
}

nav h4 {
  font-size: 1.05rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  font-size: 1rem;
}

nav a {
  font-size: 1rem;
  text-decoration: none;
}
